* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    color: #ffffff;
    background: rgb(230, 101, 101)
}

.button-container {
    text-align: center;
    padding: 2rem;
}

.inner-container h1{
    font-family: 'Mountains of Christmas', cursive;
    font-family: 'PT Serif', serif;
    font-size: 2rem;
}
.comingSoon {
    text-align: center;
}
.countdown{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.countdown div{
    padding: 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 1rem;
    background-color: rgb(230, 101, 101);
}

.btn-start {
    display: inline-block;
    background-color:rgb(230, 101, 101);
    border-radius: 5px;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
}

.container {
    height: 900px;
    width: 800px;
    border: 1px solid #333;
    margin: 1rem auto;
    background-image: url('../img/pic0.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "month1 month2 month3 month4"
        "month5 month6 month7 month8"
        "month9 month10 month11 month12"
        "month13 month14 month15 month16"
        " month17 month18 month19 month20"
        " month21 month22 month23 month24"
    ;

}

.image {
    background-image: none;
    background-size: cover;
    background-position: center;
}

.text {
    height: 100%;
    width: 100%;
    border: 2px solid #777;
    transition: opacity 3s;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
}